/* Animate */
.ear,
.eye-bottom,
.eye-core,
.face-red,
.mouth {
  -webkit-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
}

/* 耳朵 */
.face:hover ~ .ear-wrap .left {
  -webkit-transform: rotate(-25deg);
     -moz-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
       -o-transform: rotate(-25deg);
          transform: rotate(-25deg);
}
.face:hover ~ .ear-wrap .right {
  -webkit-transform: rotate(25deg);
     -moz-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
       -o-transform: rotate(25deg);
          transform: rotate(25deg);
}

/* 眼睛 */
.face:hover .eye-bottom {
  margin-top: 33px;
}
.face:hover .eye-core {
  -webkit-transform: scale(0.85, 1);
     -moz-transform: scale(0.85, 1);
      -ms-transform: scale(0.85, 1);
       -o-transform: scale(0.85, 1);
          transform: scale(0.85, 1);
}

.face:hover .face-red {
  opacity: 0.6;
}
.face:hover .mouth{
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%
}